@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* GLOBAL SETTINGS */

body {
	font-family: 'Lato', sans-serif !important;
}

.tooltip {
	background-color: #000;
}

.tooltip.tooltip-bottom:after {
	border-bottom-color: #000;
}

.tooltip.tooltip-top:after {
	border-top-color: #000;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999 !important;
}


/* MESSAGE VIEW */

/* mentions */
.message-group .mentioned .message-text {
    background: rgba(209,141,31,.2);
}
.message-group .mentioned .message-text:after {
    border-left: 4px solid #D18D1F;
    background: rgba(209,141,31,.2);
}




/* SCROLLBAR */





/* MESSAGES */


.message-group .comment .markup {
    margin-top: 8px;
    color: #333;
    line-height: 1.4em;
}

.channel-textarea-inner textarea {
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
}


.notification .notification-contents .notification-body p {
  color: #D18D1F !important;
  /*color: #737f8d;*/
}


.mention {
	color: #007ab8; /* slack blue */
    background-color: transparent !important;
}



/* AUTOCOMPLETE */

.message-group .btn-reaction, .message-group .btn-option {
	transform: scale(1.5);
    margin-left: 10px;
}

.message-group .comment>div:hover .btn-option, 
.message-group .comment>div:hover .btn-reaction, 
.message-group .system-message>div:hover .btn-option, 
.message-group .system-message>div:hover .btn-reaction {
    opacity: 0.65;
}

.channel-textarea-autocomplete-inner .emoji {
    margin-right: 10px!important;
    -o-object-fit: contain;
    object-fit: contain;
}
.emoji {
    -o-object-fit: contain;
    object-fit: contain;
    width: 22px;
    height: 22px;
    margin: 0 .05em 0 .1em!important;
    vertical-align: -.4em;
}

.channel-textarea-autocomplete-inner ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #666;
    -webkit-transition: padding-left .05s,box-shadow .2s;
    transition: padding-left .05s,box-shadow .2s;
    margin-left: 5px;
    margin-right: 5px;
}

.channel-textarea-autocomplete-inner .active {
	background-color: #007ab8 !important;
    color: #fff;
    border-radius: 20px;
}

.channel-textarea-autocomplete-inner ul li:hover {
    background-color: #007ab8;
    color: #fff;
    border-radius: 20px;
}

.channel-textarea-autocomplete-inner:after {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #f0f0f0;
    content: " ";
    width: 100%;
    height: 1px;
}

/*
.channel-textarea-autocomplete div {
	background-color: #fff;
}

.channel-textarea-autocomplete div:hover {
	background-color: #fff;
}
*/

.channel-textarea-autocomplete-inner{
border-color: #c0c0c0 !important;
}

.channel-textarea-autocomplete header{
background-color: #fff !important;
}

.channel-textarea.has-results .channel-textarea-inner{
border-color: #c0c0c0 !important;
}

.highlight:hover {
    background-color: #D18D1F !important;
}



.channel-textarea-autocomplete-inner header {
    color: #999;
}


.channel-textarea-autocomplete-inner header div {
    color: #999;
}

.channel-textarea-autocomplete-inner header strong {
    color: #666;
}



/* NAV LEFT */

.guild-channels .channel-text.selected {
    /* kill old stuff*/
    border: none;
    background: none;
    
    /* add slack style highlight */
    background-color: #D18D1F;
	
}

.guild-channels .channel-text.selected:before {
	border: none !important;
}

.guild-channels .channel-text .channel-name:before {
	color: #fff !important;
}

.guild-channels .channel-text.selected a {
	color: #fff;
    text-shadow: none;
}

.guild-channels .channel.selected .icon, .guild-channels .channel:hover .icon {
	opacity: 0.5;
}


